<h1>This is index page</h1>


 
<p><% @pts.each do |pt| %></p>
  <p><%= link_to pt.name, pt_path(pt) %></p>
  <% end %>
need to add search function 

<p class="add-pt"><%= link_to 'Add Pt', new_pt_path(@pt) %></p>
 
<%= search_form_for @search do |f| %>
<% Skill.all.uniq.each do |skill| %>
<%= check_box_tag('q[skills_name_cont_any][]', skill.name) %>
<%= skill.name %>
<% end %>
<%= f.submit "Search"%>
<% end %>
  

<%= search_form_for @search do |f| %>
<% Location.all.uniq.each do |location| %>
<%= check_box_tag('q[locations_name_cont_any][]', location.name) %>
<%= location.name %>
<% end %>
<%= f.submit "Search"%>
  
  <% end %>





  