<h1 class="pt-name"><%= @pt.name %></h1>
<div class="pt-wrapper">
  <div class ="pt-details">
    </p><span>Profile: </span>
    <span><%= @pt.profile%></span></p>
    <!-- <p><span>Email: </span>
    <span><%= @pt.email %></span></p>
    <p>Phone: </p>
    <p><%= @pt.phone %></p>
 -->  </div>

  <div class="pt-skills">
    <h2>Skills  </h2>
       <% @pt.skills.each do |skill| %>
    <li><%= skill.name %></li>
    <% end %>
  </div>

  <%= imdb_style_rating_for @pt, current_user%>

  <div class="star-rating">
    <ul>
      <li>Price <%= rating_for @pt, "price", star: 8 %></li>
      <li>Effectiveness <%= rating_for @pt, "effectiveness", half_show: true %></li>
      <li>Knowledge <%= rating_for @pt, "knowledge", enable_half: true, half_show: true %></li>
    </ul>
  </div>
</div>

<div class ="links">
  <p class="book-pt"><%= link_to 'Book PT', new_resource_path(@pt) %></p>
  <p class="add-review"><%= link_to 'Add review', new_pt_review_path(@pt) %></p>
</div>

 <div class="review">
 <%= link_to 'Reviews', pt_reviews_path(@pt)%>
  </div>

<!-- <form action="http://pooleapp.com/stash/7d59f7b5-d7e9-41c0-a546-47848845b6b6/" method="post">
  <input type="hidden" name="redirect_to" value="{YOUR-THANKS-PAGE}" />
  <input type="text" name="whatever" />
  <input type="submit" value="submit" />
</form> -->

<!-- new to show pts -->