<h1>This is show page</h1>

<h1><%= @pt.name %></h1>
<p>Profile <%= @pt.profile%></p>
<p>Email: <%= @pt.email %></p>
<p>Phone: <%= @pt.phone %></p>

<% @pt.skills.each do |skill| %>
<%= skill.name %>
<% end %>


<%= link_to 'Add review', new_pt_review_path(@pt) %>

<% @pt.reviews.each do | review| %>
<%= review.title %>
<%= review.content %>
<% end %>








<!-- new to show pts -->