<!DOCTYPE html>
<html>
<head>
  <title>RatePt</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <div class="nav">
    <ul>
      <li><%= link_to('Home', root_path, class: 'nav-link') %></li> 
      <li><%= link_to('Trainer Search', pts_path, class: 'nav-link') %></li>
      <li><%= link_to('Booking', new_resource_path, class: 'nav-link') %></li>
    </ul>
  </div>
</header>



<%= yield %>

</body>
</html>
